.logo,
.image {
  display: block;
  margin: 1rem 0;
}
.logo {
  width: 250px;
  height: auto;
}
.image {
  img {
    width: 100%;
    height: auto;
  }
  figcaption {
    font-size: 0.75rem;
  }
}

.footer {
  padding: 2rem 0;
  button {
    margin: 0 auto;
  }

  @media print {
    display: none;
  }
}
