.event-list {
  list-style: none;
  margin-bottom: 1.5rem;

  li + li {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
  }

  h3 {
    margin: 0;
  }
  &--narrow h3 {
    font-size: 1rem;
  }

  address {
    display: block;
    margin-top: 0.125rem;
    font-style: normal;
    &::before {
      content: '// ';
    }
  }

  @include desktop {
    h3,
    address {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  time {
    display: block;
    margin-top: 0.125rem;
    font-weight: 500;
  }

  div {
    margin-top: 0.5em;
  }
}
