.event-list {
  list-style: none;
  margin-bottom: 1.5rem;

  li + li {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
  }

  h3,
  address {
    display: inline-block;
    margin-right: 0.5rem;

    .home-page & {
      display: block;
      margin-right: 0;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;

    .home-page & {
      font-size: 1rem;
    }
  }
  address {
    font-style: normal;
    &::before {
      content: '// ';
    }
  }
  time {
    display: block;
    margin-top: 0.25rem;
    font-weight: 500;
  }
  div {
    margin-top: 0.5em;
    .home-page & {
      display: none;
    }
  }
}
