.bio-page {
  figure {
    float: right;
    margin-left: 0.875rem;
    margin-bottom: 0.875rem;
    max-width: 40%;
  }

  footer {
    margin-top: 1.5rem;

    a {
      display: inline-block;
      width: 100px;
      margin-right: 1rem;

      font-size: 0.875rem;
      text-align: center;

      img {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }
}
