.logo,
.image {
  display: block;
  margin: 1rem 0;
}
.logo {
  width: 250px;
  height: auto;
}
.image {
  width: 100%;
  height: auto;
}

.footer {
  padding: 2rem 0;
  button {
    margin: 0 auto;
  }

  @media print {
    display: none;
  }
}
