@use '@/styles/breakpoints.scss' as breakpoints;

.block {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  :global(.button) {
    margin-top: 1rem;
    margin-left: auto;
  }
}

.flex {
  @include breakpoints.desktop {
    display: flex;
    gap: 1.5rem;
    > div {
      width: 50%;
    }
  }
}
