a {
  color: inherit;
  text-decoration: none;
  p & {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
p {
  &:not(:first-child) {
    margin-top: 0.675em;
  }
  &:not(:last-child) {
    margin-bottom: 0.675em;
  }
}
